.outerDiv {
  margin: 25px;
  background-color: #7EC0D6;
  padding: 15px;
  display: inline-block;
  width: 50%;
  /*box-shadow:10px 10px 5px #8DC4D6;*/
  -webkit-box-shadow: 0 0 5px 5px #DEBEE8;
  -moz-box-shadow: 0 0 5px 5px #DEBEE8;
  box-shadow: 0 0 5px 5px #DEBEE8;


}

.yourWords {
  margin: 25px;
  padding: 15px;
  display: inline-block;
  float:right;
  width: 30%;
  height:50%;

  background-color: #DEBEE8;
  -webkit-box-shadow: 0 0 5px 5px #8DC4D6;
  -moz-box-shadow: 0 0 5px 5px #8DC4D6;
  box-shadow: 0 0 5px 5px #8DC4D6;

  color: #31940D;
}

.allWords {
  margin: 25px;

  padding: 15px;
  display: inline-block;
  width: 30%;
  height:10%;


  background-color: #DEBEE8;
  -webkit-box-shadow: 0 0 5px 5px #8DC4D6;
  -moz-box-shadow: 0 0 5px 5px #8DC4D6;
  box-shadow: 0 0 5px 5px #8DC4D6;
  color: #31940D;
}

.individualInputDiv {
  color:#FFA90A;
  text-shadow: 1px 1px black;

  margin-top: 30px;
  margin-bottom: 40px;

  float: right;
  text-align: right;
  border-left: 1px dashed black;
  display: inline-block;
  width: 50%;
}

.fullFormDiv {
  color:#FFA90A;
  text-shadow: 1px 1px black;

  text-align: left;
  margin-top: 30px;
  margin-bottom: 40px;
  display: inline-block;
  width: 50%;
}

.wordInput {
  width: 100px;
  border: 2px solid  #FAF60C;
  color: #CE0AFF;
  /*D707F2*/
}

.definitionInput {
  margin-top: 12px;
  width: 200px;
  max-width: 90%;
  border: 2px solid  #FAF60C;
  color: #F01F1F;
}

.wordSynonyms {
  font-size: 15px;
  color: #920396;
  margin-left: 3px;
}

.wordHeader {
  color: #920396;
}

.sessionWords {
  color: #920396;

}

.wordDefinitions {
  color:#F01F1F;
}

.definitionHeader {
  color: #F01F1F
}

a {
  color: #BD5A3C;
}

body {
  background-color: #B9E3AA;
}

h1 {
  font-style: italic;
  color: #31B52D;
}

button {

  background-color: #FAF60C;
  color: #8A2304;
}
