<!DOCTYPE html>
<html>
  <head>
    <title>Dictionary</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/app.css" media="screen" title="no title" charset="utf-8">

    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="/scripts.js"></script>
  </head>
  <body>
    <div class="outerDiv">
    #parse($template)
    </div>


    #if ($words.size()>0)
    <div class="yourWords">
      <h3>your words (session storage): </h3>
      <ul>
        #foreach ($word in $words)
        <li>
          <a class="sessionWords" href="/thisWord/$word.getId()">$word.getName()</a>
        </li>
        #end
      </ul>

    </div>
    #end

    <br>

    #if ($wordArray.size()>0)
    <div class="allWords">
      <h3>All words (word array): </h3>
      <p>
        #foreach ($word in $wordArray)
        <span>
          <a class="sessionWords" href="/thisWord/$word.getId()">$word.getName(),</a>
        </spans>
        #end
      </p>
    </div>
    #end
  </body>
</html>
